/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

/*Opdracht 1*/

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/*Opdracht 2*/

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Opdracht 3*/

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 250px;
}

/*Opdracht 4*/

.unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Opdracht 5*/

